<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="search"></ion-icon>
      <ion-label>EXPLORE</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="heart-empty"></ion-icon>
      <ion-label>SAVED</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="home"></ion-icon>
      <ion-label>TRIPS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="chatboxes"></ion-icon>
      <ion-label>INBOX</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
        <ion-icon name="chatboxes"></ion-icon>
        <ion-label>PROFILE</ion-label>
      </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
