<div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType">
      </canvas>
    </div>
  </div>
<h2>Listings</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Provider Id</th>
        <th>Title</th>
        <th>Location</th>
        <th>Rating (out of 10)</th>
        <th>Description</th>
        <th>Price Per Night ($)</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let listing of listings">
        <td>{{listing.id}}</td>
        <td>{{listing.providerId}}</td>
        <td>{{listing.title}}</td>
        <td>{{listing.location}}</td>
        <td>{{listing.rating}}</td>
        <td>{{listing.description}}</td>
        <td>{{listing.pricePerNight}}</td>
      </tr>
    </tbody>
  </table>
</div>