<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <strong>Hi, I'm ______! </strong>
    <ion-avatar style="float:right">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
  </ion-item>

  <ion-item>
    <strong>About</strong><br>
  </ion-item>

  <ion-item>
      <p>_____ provided<br>
      <ion-icon name="checkmark-circle-outline"></ion-icon> Email address<br>
      <ion-icon name="checkmark-circle-outline"></ion-icon> Phone number<br>
      </p>
  </ion-item>
  
  <ion-item>
      <strong> # reviews</strong>
      
  </ion-item>
</ion-content>
